{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="
    background-image: url('../static/img/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg');
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        Passionate and Highly Motivated Developer with an insatiable hunger for
        knowledge. With the digital world expanding faster than ever before, and
        the new possibilities for the next phase of Web Development seeming
        boundless, I'm grateful for the opportunity to build a small piece of
        our future.
      </p>
    </div>
  </div>
</div>

<hr />

{% include "footer.html" %}
